body {
  background: linear-gradient(to right,#5F0D50,#240409, #943139);
  ;
}

.welcome {
  background-color: #080102;
  color: white;
  border: solid #400106 10px;
  margin: auto;
  padding-left: 10px;
  width: fit-content;
  height: auto;
  text-align: center;
}

.shutupskull {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left:auto;
  margin-right:auto;
  height: 300px;
  width: auto;
  text-align: center;
  border: solid 5px;
  width:fit-content;

}

.exchange {
  background-color: #400106;
  border: solid #080102 5px;
  color: #DCDCDC;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: fit-content;
}

.skullprice {
  background-color: #400106;
  color: #DCDCDC;
  border: solid #080102 5px;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: fit-content;
}

.links {
  background-color: #400106;
  color: #DCDCDC;
  border: solid #080102 5px;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: fit-content;
}
.daedalusbox{
  position:absolute;
  top:25%;
  width: fit-content;
  background-color: inherit;
}
.artistnamedaedalus {
  background-color: #400106;
  color: #DCDCDC;
  border: solid #080102 5px;
  width: fit-content;
  padding-left:5px;
  padding-right:5px;
  margin: auto;


}

.daedalusart{
  background-color: #383F48;
  color: #DCDCDC;
  border: solid #080102 5px;
  object-fit: fill;
  width: fit-content;
  height:auto;
  text-align: center;
  margin-top:2px;
  margin-bottom:2px;
}
  .enkybox{
    position:absolute;
    top:25%;
    left:30%;
    width: fit-content;
    height:auto;
  }

.artistnameenky {
  background-color: #C31F48;
  color: #383F48;
  border: solid #080102 5px;
  width: fit-content;
  padding-left:5px;
  padding-right:5px;
  margin: auto;

}



.enkyart{
  background-color: #C31F48;
  border: solid #080102 5px;
  color: #383F48;
  object-fit: fill;
  width: fit-content;
  height:auto;
  text-align: center;
  margin-top:2px;
  margin-bottom:2px;


}
