body {
  background-image: linear-gradient(0deg,#858585,#943139);

}

.welcome {
  background-color: #080102;
  color: white;
  border: solid #400106 10px;
  margin: 10%;
  padding-left:10px;
  width: auto;
  height:auto;
  text-align: center;
}
.shutupskull{
  margin-bottom: 50px;
  height: 300px;
  width: auto;
  text-align: center;


}

.exchange {
background-color: #400106;
border:solid #080102 5px;
color: #DCDCDC;
padding: 5px;
margin-top: 5px;
margin-left:0;
margin-bottom: 5px;
margin-right: 50%;
text-align: center;
}

.skullprice {
  background-color: #400106;
  color: #DCDCDC;
  border:solid #080102 5px;
  padding: 5px;
  margin-top: 5px;
  margin-left:0;
  margin-bottom: 5px;
  margin-right: 50%;
  text-align: center;
}

.links{
  background-color: #400106;
  color: #DCDCDC;
  border:solid #080102 5px;
  padding: 5px;
  margin-top: 5px;
  margin-left:0;
  margin-bottom: 5px;
  margin-right: 50%;
  text-align: center;

}
