body {
  background-image: linear-gradient(0deg, #858585, #943139);
}

.welcome {
  background-color: #080102;
  color: white;
  border: solid #400106 10px;
  margin: auto;
  padding-left: 10px;
  width: fit-content;
  height: auto;
  text-align: center;
}

.shutupskull {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
  width: auto;
  text-align: center;

}

.exchange {
  background-color: #400106;
  border: solid #080102 5px;
  color: #DCDCDC;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: fit-content;
}

.skullprice {
  background-color: #400106;
  color: #DCDCDC;
  border: solid #080102 5px;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: fit-content;
}

.links {
  background-color: #400106;
  color: #DCDCDC;
  border: solid #080102 5px;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: fit-content;
}

.artistname {
  background-color: #400106;
  color: #DCDCDC;
  border: solid #080102 5px;
  width: fit-content;
  padding-left:5px;
  padding-right:5px;
  margin-left: 2%;
}

.daedalusart{
  background-color: #383F48;
  color: #DCDCDC;
  border: solid #080102 5px;
  object-fit: fill;
  width: fit-content;
  text-align: center;
  margin-top:2px;
  margin-bottom:2px;
}
