body {
  /*background: linear-gradient(to right, #5F0D50, #240409, #943139);*/
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.indexbody {
  background: linear-gradient(to right, #943139, #240409, #383F48, #240409, #943139);
}

h1 {
  font-size: 5rem;
  margin: 1rem auto 4rem auto;
}

h2 {
  font-family: 'Secular One', sans-serif;
}

h3 {
  font-family: 'Secular One', sans-serif;
  font-size: 1.9rem;
}

h4 {
  font-family: 'Secular One', sans-serif;
}

a:hover {
  color: white;
}

a:visited {
  color: orange
}

/*top box classes*/
.topbox {
  background-color: #1E1C1D;
  color: white;
  border: solid #DCDCDC 10px;
  position: relative;
  margin: 0;
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  font-weight: bolder;
}

.mountain {
  width: 80%;
  margin: 0 auto 0 auto;
  position: relative;
  bottom: 100px
}

.skullcoinleft {
  position: absolute;
  left: 20%;
  bottom: 20px;
}

.skullcoincenter {
  position: absolute;
  right: 42.5%;
  bottom: 20px;
}

.skullcoinright {
  position: absolute;
  right: 20%;
  bottom: 20px;
}

.degenpara {
  position: relative;
  left: auto;
  right: auto;
}

/*middle box classes*/
.middlebox {
  background-color: #383F48;
  color: white;
  border: solid #DCDCDC 10px;
  position: relative;
  margin: 0;
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  font-weight: bolder;
}

.skullintro {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: auto;
  text-align: center;
  width: fit-content;
  float: left;
}

.shutuptakemyskullimage {
  float: left;
  margin: auto 10px auto 30px;
}

.skulldesciption {
  line-height: 2;
  width: 75%;
  margin-top: 75px;
}

.exchange {
  margin-top: 100px;
  margin-bottom: 100px;
  /*border:solid white 5px;*/
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  height: 300px;
}

.coins {
  float: right;
  height: 200px;
  margin-right: 200px
}

.exchangenotcoin {
  margin-top: 5%;
}

.exchangedescription {}

.skullprice {
  color: #DCDCDC;
  border: solid white 5px;
  padding: 5px;
  margin: 30px auto;
  text-align: center;
  width: fit-content;
}

.bottombox {
  background-color: #383F48;
  color: white;
  border: solid #DCDCDC 10px;
  position: relative;
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  font-weight: bolder;
}

.links {
  margin: 10px 20px;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* SKULL4NFT*/

.sktopbox{
  background-color: #1E1C1D;
  margin:0;
  border: solid white 5px;
}

.skull4nft {
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: 'MedievalSharp', cursive;
}
.skull4nfttext{
font-family: 'MedievalSharp', cursive;
margin-top:10px;
margin-bottom: 50px
}

.hrskull4nft{
  margin:0 0 5px 0;
}

.collabartists{
  background-color: black;

}
.collabartheader{
  font-size: 3rem;
  margin: 25px auto 0px;
}

.skullcollabhr{
  margin: 0;

}

.daedalusbox {
  position: relative;
  top: 25%;
  width: fit-content;

}

.daedname {
  font-family: 'Splash', cursive;
}

.artistnamedaedalus {
  background-color: #400106;
  color: #DCDCDC;
  border: solid #080102 5px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

.daedalusart {
  background-color: #383F48;
  color: #DCDCDC;
  border: solid #080102 5px;
  object-fit: fill;
  width: 300px;
  height: auto;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.enkybox {
  position: absolute;
  left:350px;
  width: fit-content;
  height: auto;
  top:280px;
}

.enkyname {
  font-family: 'Rubik Moonrocks', cursive;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;

}

.artistnameenky {
  background-color: #C31F48;
  color: #383F48;
  border: solid #080102 5px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

.enkyart {
  background-color: #C31F48;
  border: solid #080102 5px;
  color: #383F48;
  object-fit: fill;
  width: 300px;
  height: auto;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
